name: CI (TypeScript SDK)

permissions: {}

on:
  pull_request:
    paths:
      - "typescript/**"
  push:
    paths:
      - "typescript/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ./typescript
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - run: bun install --frozen-lockfile
      - run: bun run build
      - run: bun run test
