name: Release Please

permissions: {}

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  release-please:
    name: Release Please
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: write # for creating releases
      issues: write # for creating labels
      pull-requests: write # for creating pull requests
    outputs:
      # typescript
      typescript-release-created: ${{ steps.release-please.outputs['typescript--release_created'] }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          token: ${{ github.token }}
          config-file: release-please-config.json

  release-typescript:
    name: Release TypeScript SDK
    needs: release-please
    if: needs.release-please.outputs['typescript-release-created'] == 'true'
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # for OIDC authentication to npm registry
    defaults:
      run:
        working-directory: ./typescript
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - run: bun install --frozen-lockfile
      - run: npm publish --access public
